<%- include('../../partials/html_header.ejs') %>
    <%- include('../../partials/nav.ejs') %>

        <div class="sidebar-container">
            <div class="sidebar-logo">
                <%= pageTitle %>
            </div>
            <!-- Sidebar Here -->
            <%- include('../../partials/Sidebar') %>
        </div>

        <div class="content-container">
            <div class="container-fluid px-4">
                <h2>
                    <%= pageTitle %>
                </h2>
                <%- include('../../partials/alert.ejs') %>
                    <div class="col-md-12">
                        <form action="/books" method="POST" enctype="multipart/form-data">
                            <div class="form-group">

                                <label for="title">
                                    Title
                                </label>

                                <input type="text" name="title" class="
                                            form-control
                                            <%=
                                            errors.title
                                            ?
                                            'is-invalid'
                                            :
                                            ''
                                            %>
                                          " id="title" value="<%= oldData.title || '' %>" />
                                <div class="invalid-feedback">
                                    <%= errors.title ? errors.title.msg : "" %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description">
                                    Description
                                </label>
                                <input type="text" name="description" value="<%= oldData.description || '' %>" class="form-control
                                    <%= errors.description ? 'is-invalid' : '' %>" id="description" />
                                <div class="invalid-feedback">
                                    <%= errors.description ? errors.description.msg : "" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="image">Choose Book Cover Page</label>
                                <input type="file" class="form-control
                                                            <%= errors.image ? 'is-valid': '' %> " id="image"
                                    name="image" />
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">
                                Create Book
                            </button>
                        </form>
                    </div>
            </div>
        </div>


        <%- include('../../partials/html_footer.ejs') %>