<%- include('../../partials/html_header') %>
    <%- include('../../partials/nav') %>
        <div class="sidebar-container">
            <div class="sidebar-logo">
                Project Name
                <%= pageTitle %>
            </div>
            <!-- Sidebar Here -->
            <%- include('../../partials/Sidebar') %>
        </div>

        <div class="content-container">
            <a href="/books/create" class="m-2">
                <button type="button" class="btn btn-success">Add Book</button>
            </a>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Author
                                    </th>
                                    <th>
                                        Creadte By
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% books.forEach(book=>{ %>
                                    <tr class="table-active">
                                        <td>
                                            book.title
                                        </td>
                                        <td>
                                            books.author
                                        </td>
                                        <td>
                                            book.createdAt
                                        </td>
                                        <td>
                                            Edit
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <%- include('../../partials/html_footer') %>