<%- include('../../partials/html_header') %>
    <%- include('../../partials/nav') %>
        <div class="sidebar-container">
            <div class="sidebar-logo">
                Project Name
                <%= pageTitle %>
            </div>
            <!-- Sidebar Here -->
            <%- include('../../partials/Sidebar') %>
        </div>

        <div class="content-container">
            <%- include('../../partials/alert.ejs') %>
                <a href="/books/create" class="m-2">
                    <button type="button" class="btn btn-success">Add Book</button>
                </a>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Author
                                        </th>
                                        <th>
                                            Creadte By
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% books.forEach(book=>{ %>
                                        <tr>
                                            <td>
                                                <%= book.title %>
                                            </td>
                                            <td>
                                                <%= book.author ? book.author.name : "N/A" %>
                                            </td>
                                            <td>
                                                <%= book.createdAt %>
                                            </td>
                                            <td>
                                                <a href="/books/<%= book.id %>/edit" class="btn btn-primary btn-sm"><i
                                                        class="fas fa-edit"></i>Edit</a>
                                                <form action="books/<%= book.id %>?_method=DELETE" method="POST">
                                                    <button type="submit" class="btn btn-danger btn-sm"><i
                                                            class="fas fa-trash"></i> Delete</button </form>
                                            </td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </div>

        <%- include('../../partials/html_footer') %>