<%- include('../partials/html_header') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <%- include('../partials/nav') %>
                    <div class="jumbotron">
                        <h2>
                            <%= pageTitle %>
                        </h2>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large
                            callout
                            called the hero unit and three supporting pieces of content. Use it as a starting point to
                            create something more unique.
                        </p>
                        <% if(isLogged){ %>
                            <h2>
                                Welcome <%= user.name %>
                            </h2>
                            <% } %>
                                <!-- For Not Logged In Users -->
                                <% if(!isLogged ) { %>
                                    <p>
                                        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                                        <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
                                    </p>
                                    <% } %>

                                        <!-- Sow Only In Logged In -->
                                        <% if (isLogged ) { %>
                                            <p>
                                                <a class="btn btn-primary btn-large" href="/logout">Logout</a>
                                            </p>
                                            <% } %>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="jumbotron">
                    <h2>
                        <%= pageTitle %>
                    </h2>
                    <%- include('../partials/alert.ejs') %>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large
                            callout
                            called the hero unit and three supporting pieces of content. Use it as a starting point to
                            create something more unique.
                        </p>

                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/html_footer') %>